
.create-products-form {
    background-color: #ecf3f9;
    padding: 5%;
}

#create-products {
    margin-top: 0%;
    color: #1A3E4C;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.products-data {
    font-size: 16px;
    margin-top: 2%;
}

.field {
    color: #347B98;
}

.field-value {
    font-weight: bolder;
}

.conditionBased {
    display: none;
}