.mainSearch {
    display: flex;
    justify-content: center;
}

.mainFilter {
    display: inline-block;
    width: 25%;
    align-self: flex-start;
}

.subMainSearch {
    display: inline-block;
    width: 73%;
}

.searchContainer {
    display: inline-block;
    border: 2px solid #f8f8ff;
    border-radius: 10px;
    box-shadow: 4px 4px 12px grey;
    background-color: #f8f8ff;
    margin: 20px 0 15px 25px;
    width: 30%;
    height: 500px;
    overflow: hidden;
    transition: transform 0.3s ease-in 0s;
}

.searchContainer:hover {
    transform: scale(1.03,1.03);
    z-index: 1;
}

.searchImg {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchImg > img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
}

.searchTitle {
    height: 75px;
    overflow: hidden;
}

.searchDisplay {
    border-left: 2px solid grey;
    overflow: hidden;
}

.loader {
    margin-left: 5%;
}

.searchContainer * {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.link {
    color: #67AFCB;
}

.link:hover {
    color: purple;
}

.searchContainer * p {
    font-size: 20px;
}

.rating {
    font-weight: 550;
    font-size: 24px;
    color: teal
}

.amount {
    font-size: 24px;
}

.managePage {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.noData {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red
}

@media only screen and (max-width: 1200px) {

    .searchContainer {
        width: 45%;
        margin: 20px 0 15px 15px;
    }
}

@media only screen and (max-width: 980px) {
    .mainSearch {
        display: flex;
        flex-flow: column wrap;
        overflow-x: hidden;
    }

    .mainFilter {
        width: 100%;
    }

    .subMainSearch {
        width: 100%
    }

    .searchDisplay {
        border-left: hidden;
    }
}

@media only screen and (max-width: 640px) {
    .searchContainer {
        width: 80%;
        margin: 20px;
    }
}