.coupon-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.coupon > img {
    min-height: 150px;
    max-width: 350px;
    padding: 5px;
}

.coupon {
    border: 2px solid orange;
    max-width: 355px;
    margin: 10px;
}

.details {
    font-size: 16px;
    margin: 5px;
    color: #347B98;
}

.ctitle {
    font-size: 20px;
    font-weight: bolder;
    color: #1A3E4C;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.status {
    display: inline-block;
}

.cdelete {
    float: right;
    font-size: 16px;
    padding: 4px;
    margin-right: 15px;
    color: red;
    background-color: orange;
    border-radius: 5px;
    outline-color: red; 
}

.nocoupon {
    color: grey;
    margin-bottom: 30px;
}


@media only screen and (max-width: 400) {

    .coupon > img {
        max-width: 500px;
        min-height: 500px;
    }
}