@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

.order-outer-container{
  background: white;
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
  margin-top: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  height:auto;
}
.order-container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px)
{
  .order-container{
    max-width: 1140px;
  }
}
.d-flex{
  display: flex;
  flex-direction: row;
  background: #f8f9f5;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}

.order-form{
  flex: 4;
}

.Yorder{
  flex: 2;
}

.order-title{
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));
  background: -moz-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: -ms-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: -o-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
  border-radius:5px 5px 0 0 ;
  padding: 20px;
  color: #f6f6f6;
}
.order-h2{
  margin: 0;
  padding-left: 15px; 
}
.required{
  color: red;
}
.order-label, .order-table{
  display: block;
  margin: 20px;
}
.order-label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}
.order-label>input[type="text"], .order-label>input[type="tel"], .order-label>input[type="email"]
{
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
}
/* select{
  width: 72%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
} */
.Yorder{
  margin-top: 15px;
  max-height: 650px;
  padding: 20px;
  border: 1px solid #dadada;
}
.order-table{
  margin: 0;
  padding: 0;
}
.order-table th{
  border-bottom: 1px solid #dadada;
  padding: 5px 0;
}
.order-table tr>td:nth-child(1){
  text-align: left;
  color: #2d2d2a;
}
.order-table tr>td:nth-child(2){
  text-align: right;
  color: #52ad9c;
}
.order-table td{
  border-bottom: 1px solid #dadada;
  padding: 20px 20px 10px 0;
}

.order-disclaimer{
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}
.order-label1{
    margin: 5px;
}

/* .Yorder>div{
  padding: 15px 0; 
} */
.radios{
  padding: 2px 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.order-button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #52ad9c;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.order-button:hover{
  cursor: pointer;
  background: #428a7d;
}
.error-display{
  color: red;
  font-size: smaller;
  
}

.order-product-name {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}