@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
.main-continer {
  background: white;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
.form-class {
  width:50%;
  height: 90%;
  background-color: rgb(207, 231, 238);
  box-shadow: 0 4px 8px 0 rgb(228, 216, 196), 0 6px 20px 0 rgb(204, 200, 200);
  margin-left: 20%;
  margin-top: 5%;
  border-radius: 15px;
}
.font-size {
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
  color: #0b5b74;
} 
.form-data{
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
}

.error-display{
  color: red;
  font-size: smaller;
  
}